<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./vue.js"></script>
</head>
<body>
    <div id="app">
        <input type="text" v-model="msg">
        <!-- 使用过滤器 -->
        {{msg|myf|nu}}
    </div>

    <div id="app2">
        <input type="text" v-model="msg">
        <!-- 使用过滤器 -->
        {{msg|myf|nu}}
    </div>
</body>
<script>
    Vue.filter('myf',function (val) {
                return val.toUpperCase();
    });
    Vue.filter('nu',function (val){
        var reg = /\d/g;
        return val.replace(reg, '*');
    });

     var app = new Vue({
         el: '#app',
         data:{  
             msg: '',
         }
     });

     var app2 = new Vue({
         el: '#app2',
         data:{  
             msg: '',
         }
     })
</script>
</html>