<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="index.php?p=Admin&c=Products&a=add">添加商品</a>
    <table border="1" width="980" bordercolor='#000'>
        <tr>
            <th>编号</th><th>名称</th><th>价格</th><th>修改</th><th>删除</th>
        </tr>
        <!-- <?php foreach($list as $rows):?>
        <tr>
            <td><?=$rows['proID']?></td>
            <td><?=$rows['proname']?></td>
            <td><?=$rows['proprice']?></td>
            <td><a href="index.php?p=Admin&c=Products&a=edit&proid=<?=$rows['proID']?>">修改</a></td>
            <td><a href="index.php?p=Admin&c=Products&a=del&proid=<?=$rows['proID']?>" onclick="return confirm('确定要删除吗？')">删除</a></td>
        </tr>
        <?php endforeach; ?> -->

        {foreach $list as $rows }
        <tr>
            <td>{$rows['proID']}</td>
            <td>{$rows['proname']}</td>
            <td>{$rows['proprice']}</td>
            <td><a href="index.php?p=Admin&c=Products&a=edit&proid={$rows['proID']}">修改</a></td>
            <td><a href="index.php?p=Admin&c=Products&a=del&proid={$rows['proID']}" onclick="return confirm('确定要删除吗？')">删除</a></td>
        </tr>
        {/foreach}
    </table>
</body>
</html>