<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <form method="post" action="">
        名称： <input type="text" name="proname" value="<?=$info['proname']?>"> <br>
        价格： <input type="text" name="proprice" value="<?=$info['proprice']?>"> <br>
        <!-- 隐藏域 -->
        <input type="hidden" name="proid" value="<?=$info['proid']?>">
        <input type="submit" value="提交">
   </form> 
</body>
</html>